.ScrollAreaRoot {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  --scrollbar-size: 8px;
}

.ScrollAreaViewport {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.ScrollAreaScrollbar {
  display: flex;

  /* ensures no selection */
  user-select: none;
  /* disable browser handling of all panning and zooming gestures on touch devices */
  touch-action: none;

  margin-top: 20px;

  padding: px;
  background: #d9d9d97a;
  transition: background 160ms ease-out;
}
.ScrollAreaScrollbar:hover {
  background: transparent;
  --scrollbar-size: 15px;
  transition: height 200ms ease-out;
}
.ScrollAreaScrollbar[data-orientation="vertical"] {
  width: var(--scrollbar-size);
}
.ScrollAreaScrollbar[data-orientation="horizontal"] {
  transition: height 200ms ease-out;
  flex-direction: column;
  height: var(--scrollbar-size);
}

.ScrollAreaThumb {
  flex: 1;
  background: #27292886;
  position: relative;
}

.ScrollAreaThumb:hover {
  background: #272928dc;
}
/* increase target size for touch devices https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */
.ScrollAreaThumb::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  min-width: 44px;
  min-height: 44px;
}
